body{
    background-color: cadetblue;
}
*{
    margin: 0;
    padding: 0;
}

.calculator{

    width: 300px;
    height: 400px;
    margin: 50px  auto;

}

.display{
    height: 50px;
    width: 297px;
    font-size: 2em;
}

.btn{
    float: left;
    width: 75px;
    height: 75px;
}

.btn_s{
    width: 300px;
    margin: 10px 2px;

}

.btn button{
    width: 95%;
    height: 70%;
    border: none;
    font-size: 1.3em;
}



